* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

/* inizio contatti */
.container .contatti {
  float: left;
  width: 350px;
  height: 100vh;
}

.contatti .contatti-fixed {
  position: fixed;
  top: 0px;
  left: 0;
  width: 350px;
  z-index: 9;
}
.contatti .rubrica {
  margin-top: 170px;
  overflow-y: auto;
}

.contatti .top-bar-content {
  height: 60px;
  background-color: #e6e6e6;
  border-right: 1px solid grey;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contatti .top-bar-content .contact-option i {
  color: grey;
  font-size: 20px;
  margin-left: 10px;
}

.contatti .silent-bar {
  height: 70px;
  background-color: #99e6ff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.contatti .silent-bar .silent-icon {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contatti .silent-bar .silent-icon i {
  font-size: 20px;
  color: #99e6ff;
}

.silent-bar .silent-bar-info {
  margin-left: 5px;
}

.silent-bar .silent-bar-info a {
  display: block;
  color: black;
  text-decoration: none;
}

.silent-bar .silent-bar-info a:last-child {
  color: grey;
  font-size: 13px;
}

.silent-bar .silent-bar-info a:last-child:hover {
  text-decoration: underline;
}

.contatti .cerca-contatti {
  height: 40px;
  background-color: #e6e6e6;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.contatti .search-contact-icon {
  height: 70%;
  background-color: #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.contatti .search-contact-icon i {
  color: grey;
}

.contatti .cerca-contatti input {
  width: 90%;
  height: 70%;
  border: none;
}

.contatti .contatto-rubrica {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid grey;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.contatti .contatto-rubrica .profile-img {
  background-color: lightgrey;
}

.contatto-rubrica .contact-name {
  margin-left: 10px;
}

.contatto-rubrica span {
  color: lightgrey;
  font-size: 13px;
}

.contatto-rubrica #ora {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* inizio chat */
.container .chat {
  float: left;
  width: calc(100% - 350px);
  height: 100vh;
  margin-top: 60px;
  overflow: auto;
  /* debug */
  background-color: pink;
}


.chat .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 15px;
  background-color: #e6e6e6;

  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 350px);
}

.friend-info-left {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
}

.friend-info-left .friend-name {
  margin-left: 10px;
}

.friend-info-left .friend-name span {
  font-size: 12px;
  color: grey;
}

.friend-info-right i {
  font-size: 20px;
  color: grey;
  margin-left: 10px;
}

.chat .chat-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 350px);
  height: 60px;
  background-color: #e6e6e6;
  opacity: 0.7;
}

.chat-fixed .chat-fixed-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.chat-fixed .chat-fixed-content i {
  font-size: 25px;
  cursor: pointer;
}

.chat-fixed .chat-fixed-content .invio {
  display: none;
}

.chat-fixed .chat-fixed-content input {
  width: 80%;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

/* balloons chat */
.chat .balloons {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 30px;
  /* background-color: lightgrey; */
}

.messaggio {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.messaggio.green {
  background-color: lightgreen;
  align-self: flex-end;
}

.messaggio.white {
  background-color: white;
  align-self: flex-start;
}
